<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="/templates/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/templates/servermaterial/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/templates/servermaterial/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/templates/servermaterial/assets/css/style.css" rel="stylesheet">
    <link href="/templates/servermaterial/assets/css/style-responsive.css" rel="stylesheet">
	<link href="/templates/servermaterial/assets/SweetAlert2/dist/sweetalert2.css" rel="stylesheet">
	{% block othercss %}{% endblock %}
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="home.html" class="logo"><b>{% block log %}{% endblock %}</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
					<li><a class="logout" href="#">退出服务器</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
	  <aside>
		  <div id="sidebar"  class="nav-collapse ">
			  <!-- sidebar menu start-->
			  <ul class="sidebar-menu" id="nav-accordion">
			  
				  <p class="centered"><a href="home.html"><img src="/templates/servermaterial/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
				  <h5 class="centered">{% block username %}{% endblock %},你好</h5>
				  
				  <li class="sub-menu">
					  <a href="servertime.html" >
						  <i class="fa fa-calendar"></i>
						  <span>服务器时间</span>
					  </a>
				  </li>
				  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>服务器日志</span>
                      </a>
                      <ul class="sub">
                          <li><a href="realtimelog.html">实时日志</a></li>
                          <li><a href="mylog.html">自定义日志</a></li>
                          <li><a href="log.html">回看日志</a></li>
                      </ul>
                  </li>
				  <li class="sub-menu">
					  <a href="serverconfig.html" >
						  <i class="fa fa-cogs"></i>
						  <span>服务器配置</span>
					  </a>
				  </li>
				  <li class="sub-menu">
					  <a href="reboot.html" >
						  <i class="fa fa-refresh"></i>
						  <span>进程重启</span>
					  </a>
				  </li>
				  <li class="sub-menu">
					  <a href="authority.html">
						  <i class="fa fa-user"></i>
						  <span>权限管理</span>
					  </a>
				  </li>
				  <li class="sub-menu">
					  <a href="help.html">
						  <i class="fa fa-book"></i>
						  <span>使用说明</span>
					  </a>
				  </li>
			  </ul>
			  <!-- sidebar menu end-->
		  </div>
	  </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
	  {% block mainbody %}{% endblock %}
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2018 - lishouxian
          </div>
      </footer>
      <!--footer end-->
  </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/templates/servermaterial/assets/js/jquery.js"></script>
    <script src="/templates/servermaterial/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/templates/servermaterial/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/templates/servermaterial/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/templates/servermaterial/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="/templates/servermaterial/assets/js/common-scripts.js"></script>
	<script src="/templates/servermaterial/assets/SweetAlert2/dist/sweetalert2.js"></script>
	{% block scripts %}{% endblock %}
	<script>
	// 用户登出
	$(document).ready(function(){
		$(".logout").click(function(){
			$.ajax({
				url:"userlogout",
				type:'GET',
				success: function(arg){
					ret = eval(arg);
					if(ret.status){
						window.location.href = '/loginpage'
					}
				}
			})
		});
	})
	</script>
  </body>
</html>
